.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  //background-color: #2f557f;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-wrapper {
  width: 100px;
  height: 100px;
}

//.stroke-loader path {
//  stroke-dasharray: 400;
//  stroke-dashoffset: 400;
//  animation: drawStroke 1.6s ease-in-out infinite;
//}
//
//.svg-elem-1 {
//  animation: drawStroke 4.6s ease-in-out infinite;
//}
//
//.svg-elem-2 {
//  animation: drawStroke 4.6s ease-in-out infinite;
//}
//
//.svg-elem-3 {
//  animation: drawStroke 4.6s ease-in-out infinite;
//}
//
//.svg-elem-4 {
//  animation: drawStroke 4.6s ease-in-out infinite;
//}
//
//.svg-elem-5 {
//  animation: drawStroke 4.6s ease-in-out infinite;
//}
//
//.svg-elem-6 {
//  animation: drawStroke 4.6s ease-in-out infinite;
//}
//
//.svg-elem-7 {
//  animation: drawStroke 4.6s ease-in-out infinite;
//}

//@keyframes drawStroke {
//  0% {
//    stroke-dashoffset: 400;
//    opacity: 1;
//  }
//  70% {
//    stroke-dashoffset: 0;
//    opacity: 1;
//  }
//  100% {
//    stroke-dashoffset: 0;
//    opacity: 0;
//  }
//}

/***************************************************
 * Generated by SVG Artista on 2/2/2026, 9:34:21 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

//.svg-elem-1 {
//  -webkit-animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
//  animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
//}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

//.svg-elem-2 {
//  -webkit-animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.25s both;
//  animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.25s both;
//}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

//.svg-elem-3 {
//  -webkit-animation: animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
//  animation: animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
//}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

//.svg-elem-4 {
//  -webkit-animation: animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s both;
//  animation: animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.75s both;
//}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

//.svg-elem-5 {
//  -webkit-animation: animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
//  animation: animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
//}

@-webkit-keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

@keyframes animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

//.svg-elem-6 {
//  -webkit-animation: animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s both;
//  animation: animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.25s both;
//}

@-webkit-keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

@keyframes animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(0, 0, 55);
  }
}

//.svg-elem-7 {
//  -webkit-animation: animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
//  animation: animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
//}



@keyframes animate-svg-fill-1 {
  0% { fill: rgb(255, 255, 255); }
  100% { fill: rgb(0, 0, 55); }
}

@keyframes animate-svg-fill-2 {
  0% { fill: rgb(255, 255, 255); }
  100% { fill: rgb(0, 0, 55); }
}

@keyframes animate-svg-fill-3 {
  0% { fill: rgb(255, 255, 255); }
  100% { fill: rgb(0, 0, 55); }
}

@keyframes animate-svg-fill-4 {
  0% { fill: rgb(255, 255, 255); }
  100% { fill: rgb(0, 0, 55); }
}

@keyframes animate-svg-fill-5 {
  0% { fill: rgb(255, 255, 255); }
  100% { fill: rgb(0, 0, 55); }
}

@keyframes animate-svg-fill-6 {
  0% { fill: rgb(255, 255, 255); }
  100% { fill: rgb(0, 0, 55); }
}

@keyframes animate-svg-fill-7 {
  0% { fill: rgb(255, 255, 255); }
  100% { fill: rgb(0, 0, 55); }
}

@keyframes animate-svg-fill-1-2 {
  0% { fill: rgb(0, 0, 55); }
  100% { fill: rgb(255, 255, 255); }
}

@keyframes animate-svg-fill-2-2 {
  0% { fill: rgb(0, 0, 55); }
  100% { fill: rgb(255, 255, 255); }
}

@keyframes animate-svg-fill-3-2 {
  0% { fill: rgb(0, 0, 55); }
  100% { fill: rgb(255, 255, 255); }
}

@keyframes animate-svg-fill-4-2 {
  0% { fill: rgb(0, 0, 55); }
  100% { fill: rgb(255, 255, 255); }
}

@keyframes animate-svg-fill-5-2 {
  0% { fill: rgb(0, 0, 55); }
  100% { fill: rgb(255, 255, 255); }
}

@keyframes animate-svg-fill-6-2 {
  0% { fill: rgb(0, 0, 55); }
  100% { fill: rgb(255, 255, 255); }
}

@keyframes animate-svg-fill-7-2 {
  0% { fill: rgb(0, 0, 55); }
  100% { fill: rgb(255, 255, 255); }
}


.restart-animation {
  .svg-elem-1 { animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s both; }
  .svg-elem-2 { animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both; }
  .svg-elem-3 { animation: animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.0s both; }
  .svg-elem-4 { animation: animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both; }
  .svg-elem-5 { animation: animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both; }
  .svg-elem-6 { animation: animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both; }
  .svg-elem-7 { animation: animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both; }
}

.animationend {
  .svg-elem-1 { animation: animate-svg-fill-1-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s both; }
  .svg-elem-2 { animation: animate-svg-fill-2-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s both; }
  .svg-elem-3 { animation: animate-svg-fill-3-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.0s both; }
  .svg-elem-4 { animation: animate-svg-fill-4-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both; }
  .svg-elem-5 { animation: animate-svg-fill-5-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both; }
  .svg-elem-6 { animation: animate-svg-fill-6-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s both; }
  .svg-elem-7 { animation: animate-svg-fill-7-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s both; }
}

//.loader-wrapper svg {
//  opacity: 1;
//  transition: opacity 1s ease-in-out;
//}
//.animationend svg {
//  opacity: 0;
//}
//.restart-animation svg {
//  opacity: 1;
//}

