<div class="dialogContainer">
  <div class="modalHeader">
    <div class="modalTitle">
      @if (disabled || readonly) {
        {{ 'Lesson event' | translate }}
      } @else {
        {{ 'Edit lesson event' | translate }}
      }
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form class=" form-field-full">
    <div mat-dialog-content>
      <div class="row">
        @if (dialogData) {
          <app-lesson-events-form [schoolId]="schoolId"
                                  [readOnly]="readonly"
                                  [data]="event"
                                  (form$)="setForm($event)"
          ></app-lesson-events-form>

          @if (test && test.id) {
            <div class="p-3 mb-3 bg-body-secondary bg-opacity-75">
              <h3 class="m-0">
                {{ test.type | translate }}
              </h3>
              <div>
                Status: {{ test.status | translate }}
              </div>
              <hr class="mb-5">
              <app-test-form
                class="d-block mt-3"
                [test]="test"
                [classHash]="classHash"
                [schoolId]="schoolId"
                [timeScheduleId]="timeScheduleId"
                [event]="event"
                [disabled]="true"
                (form$)="(proofForm = $event)"
                (initialSelectedEvents)="(initialSelectedProofEvents = $event)"
              >
              </app-test-form>
            </div>
          }

          @if (work && work.id) {
            <div class="p-3 mb-3 bg-body-secondary bg-opacity-75">
              <h3 class="m-0">
                {{ 'WORK' | translate }}
              </h3>
              <div>
                Status: {{ work.status | translate }}
              </div>
              <hr class="mb-5">

              <app-work-form
                class="d-block mt-3"
                [schoolId]="schoolId"
                [data]="work"
                [disabled]="true"
              ></app-work-form>

            </div>
          }
<!--          <div class="row">-->
<!--            <div class="col-md-2">-->
<!--              <mat-form-field appearance="outline" class="w-100">-->
<!--                <mat-label>{{ 'color' | translate }}</mat-label>-->
<!--                <input matInput type="color" [formControl]="userConfig.controls.schoolClass | getControl: event.schoolClass.code+'.color': '#ffffff'">-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </div>-->
<!--          <pre>{{ userConfig.value | json }}</pre>-->
        }

        <div class="col-sm-12">
<!--          @let proof = event.evalTools.proof;-->
          <ui-modal #planningModal [template]="planningTemplate" [options]="planningModalOptions"></ui-modal>
<!--          <ui-modal #testModal [template]="testTemplate" [options]="{width: '800px', disableClose: true}"></ui-modal>-->
<!--          <ui-modal #workModal [template]="workTemplate" [options]="{width: '800px', disableClose: true}"></ui-modal>-->

          <app-event-colors #colorModal [event]="event" [colorBy]="colorBy"></app-event-colors>


          <ng-template #planningTemplate>
            <h3 mat-dialog-title>Planejamento de aula</h3>
            <mat-dialog-content>
              <div class="row mt-3" [formGroup]="extraForm">
                <div class="col-md-12">
                  <!--<ui-textarea
                    id="planning"
                    name="planning"
                    height="14em"
                    [label]="'Planning' | translate"
                    [required]="true"
                    formControlName="planning"
                  ></ui-textarea>-->

                  <ui-text-editor
                    id="planning"
                    [required]="true"
                    [disabled]="disabled || readonly"
                    formControlName="planning"
                  ></ui-text-editor>
                </div>
              </div>
            </mat-dialog-content>
            <mat-dialog-actions>
              <div class="dialog-buttons">
                <ui-button color="neutral" (onClick)="planningModal.close()" cdkFocusInitial>
                  {{ disabled || readonly ? 'Fechar' : 'Cancelar' }}
                </ui-button>
                @if (!disabled && !readonly) {
                  <ui-button (onClick)="savePlanning(planningModal.close)">Salvar</ui-button>
                }
              </div>
            </mat-dialog-actions>
          </ng-template>

          <!--<ng-template #testTemplate let-hasNext="hasNext" let-classHash="classHash" let-overrideTest="overrideTest">
            <div class="modalHeader">
              @let fullTest = testFormComponent.proof;
              @let classCode = fullTest?.schoolClass?.code || dialogData.item.schoolClass?.code || '';
              @let rawTest = proofForm?.getRawValue();
              <div mat-dialog-title>
                <div class="modalTitle">
                  @if (readonly || disabled) {
                    {{ (rawTest && rawTest.type || "test") | translate }} <span class="text-secondary text-opacity-50">#{{ (rawTest && rawTest.id) || ''  }}</span>
                  }
                  @else if (rawTest && rawTest.id) {
                    {{ "Edit "+(rawTest.type || "test") | translate }} <span class="text-secondary text-opacity-50">#{{ rawTest.id }}</span>
                  }
                  @else {
                    {{ "New "+(rawTest?.type || "test") | translate }}
                  }
                </div>
                @if (classCode) {
                  <div class="modalSubtitle">
                    <span>Turma: <strong>{{ classCode }}</strong></span>
                    @if (event && event.date) {
                      <span>Data: <strong>{{ event.date | date:'dd/MM/yyyy' }}</strong></span>
                    }
                    @if ((event && event.frequency && event.frequency.timeSchedule && event.frequency.timeSchedule.startTime) || ''; as time) {
                      <span>Hora: <strong>{{ time | slice:0:5 }}</strong></span>
                    }
                  </div>
                }
              </div>
              <button mat-icon-button class="modal-close-button" aria-label="Close dialog" type="button" (click)="testModal.close()">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <mat-dialog-content>
&lt;!&ndash;              TODO: comparar o componente curricular com o do usuario logado e não teacherId&ndash;&gt;
              @let notAllowedTeacher = false;
              @let disableTest = disabled || readonly || notAllowedTeacher;
              @if (test && test.status) {
                <div class="my-3">
                  <span class="badge" [ngClass]="'text-bg-'+activityStatusClass[test.status]">
                    {{ test.status | translate }}
                  </span>
                </div>
              }
              <app-test-form
                #testFormComponent
                class="d-block mt-3"
                [test]="overrideTest || test"
                [classHash]="classHash"
                [schoolId]="schoolId"
                [override]="overrideTest"
                [timeScheduleId]="timeScheduleId"
                [event]="event"
                [disabled]="disableTest"
                (form$)="(proofForm = $event)"
                (initialSelectedEvents)="(initialSelectedProofEvents = $event)"
              >
              </app-test-form>
            </mat-dialog-content>
            <mat-dialog-actions>
              <div class="dialog-buttons">
                @let isManager = auth.role && ['admin', 'principal', 'coordinator'].includes(auth.role);
                @if (test?.id && !disableTest && (test.type != 'MULTICLASS_TEST' || isManager)) {
                  <ui-button color="danger" (onClick)="deleteProofModal.open()">Excluír prova</ui-button>
                }
                <ui-button color="neutral" (onClick)="testModal.close()" cdkFocusInitial>
                  @if (disableTest) {
                    Fechar
                  } @else {
                    Cancelar
                  }
                </ui-button>
                @if (!disableTest) {
                  @if (test.type == 'MULTICLASS_TEST') {
                    <ui-button [disabled]="proofForm.invalid" (onClick)="saveTest(testModal, deleteProofOnUpdateModal)">
                      Salvar
                      @if (test.status && test.status != 'APPROVED' && isManager && (proofForm.controls.score.value && proofForm.controls.content.value)) {
                        e aprovar
                      }
                    </ui-button>
                  } @else {
                    <ui-button [disabled]="proofForm.invalid" (onClick)="saveTest(testModal, deleteProofOnUpdateModal)">
                      Salvar
                      @if (test.status && test.status != 'APPROVED' && isManager) {
                        e aprovar
                      }
                    </ui-button>
                  }

                  @if (hasNext && test.type !== 'MULTICLASS_TEST') {
                    <ui-button
                      [disabled]="proofForm.invalid"
                      (onClick)="setEventSelect(eventSelectModal); saveTestNext(testModal)">
                      {{ 'Save and duplicate' | translate }}
                    </ui-button>
                  }
                }
              </div>
            </mat-dialog-actions>
          </ng-template>

          <ui-test-compare-modal #testCompareModal
                                 [testA]="originalTest"
                                 [testB]="test"
                                 [actionLabel]="'Override'"
                                 (actionClick)="confirmOverrideTest($event)">
          </ui-test-compare-modal>

          @let yearId = dialogData.item.schoolClass?.yearId;
          @let ccId = dialogData.item.curricularComponentId || dialogData.item.curricularComponent?.id || undefined;
          <ui-event-select-modal #eventSelectModal
                                 [params]="{ classHash, yearId, ccId }"
                                 [title]="'Select a lesson for duplicate test'"
                                 (onSelect)="selectEvent($event, testModal)">
          </ui-event-select-modal>-->

          <app-test-form-modal #testModal [event]="event"></app-test-form-modal>

          <!--<ui-modal #deleteProofModal [template]="deleteProofTemplate"></ui-modal>
          <ng-template #deleteProofTemplate>
            @let isMulticlass = test.type === 'MULTICLASS_TEST';
            @if (isMulticlass) {
              <h3 mat-dialog-title>Excluír prova</h3>
              <mat-dialog-content>
                Deseja excluír a prova para a turma atual ({{ event.schoolClass.code }})? Ou para todas as turmas relacionadas?
              </mat-dialog-content>
              <mat-dialog-actions>
                <div class="dialog-buttons">
                  <ui-button color="neutral" (onClick)="deleteProofModal.close()" cdkFocusInitial>Cancelar</ui-button>
                  <ui-button color="danger" (onClick)="deleteProof(testModal.close);deleteProofModal.close()">
                    Excluír apenas para {{ event.schoolClass.code }}
                  </ui-button>
                  <ui-button color="danger" (onClick)="deleteAllProofs(testModal.close);deleteProofModal.close()">
                    Excluír para todas as turmas
                  </ui-button>
                </div>
              </mat-dialog-actions>
            } @else {
              <h3 mat-dialog-title>Excluír prova</h3>
              <mat-dialog-content>
                <p>Prova: <strong>{{ test?.title }}</strong></p>
                Deseja realmente excluír a prova ?
              </mat-dialog-content>
              <mat-dialog-actions>
                <div class="dialog-buttons">
                  <ui-button color="neutral" (onClick)="deleteProofModal.close()" cdkFocusInitial>Cancelar</ui-button>
                  <ui-button color="danger" (onClick)="deleteProof(testModal.close);deleteProofModal.close()">
                    Excluír prova
                  </ui-button>
                </div>
              </mat-dialog-actions>
            }
          </ng-template>-->

          <!--<ui-modal #deleteProofOnUpdateModal [template]="deleteProofOnUpdateTemplate"></ui-modal>
          <ng-template #deleteProofOnUpdateTemplate let-events="events">
            @let isPlural = events.length > 1;
            <h3 mat-dialog-title>A ação excluirá
              {{ isPlural
                ? 'as provas das seguintes turmas não selecionadas'
                : 'a prova da seguinte turma não selecionada'
              }}:
            </h3>
            <mat-dialog-content>
              @for (uEvent of (events || []); track uEvent.proofId) {
                <ul>
                  <li><strong>{{ uEvent.classCode || uEvent.classId }}</strong></li>
                </ul>
              }
            </mat-dialog-content>
            <mat-dialog-actions>
              <div class="dialog-buttons">
                <ui-button color="neutral" (onClick)="deleteProofOnUpdateModal.close(false)" cdkFocusInitial>Cancelar</ui-button>
                <ui-button color="danger" (onClick)="deleteProofOnUpdateModal.close(true)">Confirmar</ui-button>
              </div>
            </mat-dialog-actions>
          </ng-template>-->

          <ui-modal #deleteWorkModal [template]="deleteWorkTemplate"></ui-modal>
          <ng-template #deleteWorkTemplate>
            <h3 mat-dialog-title>Excluír trabalho</h3>
            <mat-dialog-content>
              <p>Trabalho: <strong>{{ work?.id }}</strong></p>
              Deseja realmente excluír o trabalho ?
            </mat-dialog-content>
            <mat-dialog-actions>
              <div class="dialog-buttons">
                <ui-button color="neutral" (onClick)="deleteWorkModal.close()" cdkFocusInitial>Cancelar</ui-button>
                <ui-button color="danger" (onClick)="deleteWork(workModal.close);deleteWorkModal.close()" cdkFocusInitial>Excluír trabalho</ui-button>
              </div>
            </mat-dialog-actions>
          </ng-template>
        </div>
      </div>
    </div>
    <div matDialogActions>
      <div class="dialog-buttons">
        @let count = event.countActivities;
        @let isMaxTotal = count && count.maxTotal > 0 && (count.total >= count.maxTotal);
        @let isMaxProofs = count && count.maxProofs > 0 && (count.proofs >= count.maxProofs);
        @let isMaxWorks = count && count.maxWorks > 0 && (count.works >= count.maxWorks);
        @if (!readonly) {
          <ui-button color="default" (onClick)="openColorModal(colorModal)">Cor</ui-button>
          <ui-button color="default" (onClick)="planningModal.open()">{{ 'Planning' | translate }}</ui-button>
        }
        <app-work-form-modal #workModal [work]="work" [schoolId]="schoolId" [hidden]="readonly && !work.id" [disabled]="readonly">
          @if (!readonly && !disabled) {
            <ui-button color="default" (onClick)="workModalOpen()" badge=""
                       [badgeColor]="activityStatusClass[work.status]" [disabled]="!work.id && (isMaxTotal || isMaxWorks)">
              {{ 'Work' | translate }}
            </ui-button>
          }
        </app-work-form-modal>
        @if (!readonly && !disabled) {
          <ui-button color="default" (onClick)="openTestModal()" badge=""
                     [badgeColor]="activityStatusClass[test.status]" [disabled]="!test.id && (isMaxTotal || isMaxProofs)">
            {{ 'Proof' | translate }}
          </ui-button>
        }
        <!--<app-general-event-modal #gEvent>
          <ui-button color="default" (onClick)="gEventOpen(gEvent.open)" type="button">{{ 'Event' | translate }}</ui-button>
        </app-general-event-modal>-->
        <ui-button color="neutral" (onClick)="close()" type="button">{{ 'close' | translate }}</ui-button>
      </div>
    </div>
  </form>
</div>
