<div class="dialogContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <div class="modalTitle">
        {{'Edit lesson event' | translate}}
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <form class=" form-field-full">
    <div mat-dialog-content>
      <div class="row">
        @if (dialogData) {
          <app-lesson-events-form [schoolId]="schoolId"
                                  [readOnly]="readonly"
                                  [data]="event"
                                  (form$)="setForm($event)"
          ></app-lesson-events-form>

<!--          <div class="row">-->
<!--            <div class="col-md-2">-->
<!--              <mat-form-field appearance="outline" class="w-100">-->
<!--                <mat-label>{{ 'color' | translate }}</mat-label>-->
<!--                <input matInput type="color" [formControl]="userConfig.controls.schoolClass | getControl: event.schoolClass.code+'.color': '#ffffff'">-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </div>-->
<!--          <pre>{{ userConfig.value | json }}</pre>-->
        }

        <div class="col-sm-12">
<!--          @let proof = event.evalTools.proof;-->
          <ui-modal #planningModal [template]="planningTemplate" [options]="planningModalOptions"></ui-modal>
          <ui-modal #proofModal [template]="proofTemplate" [options]="{width: '800px', disableClose: true}"></ui-modal>
<!--          <ui-modal #workModal [template]="workTemplate" [options]="{width: '800px', disableClose: true}"></ui-modal>-->
          <ui-modal #colorModal [template]="colorTemplate" [options]="{disableClose: true}"></ui-modal>

          <ng-template #colorTemplate>
            <h3 mat-dialog-title>Cor da turma {{ event.schoolClass.code }}</h3>
            @let control = userConfig.controls.schoolClass | getControl: event.schoolClass.code+'.color': '#ffffff';
            <mat-dialog-content>
              <div class="d-flex justify-content-center mt-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>{{ 'color' | translate }}</mat-label>
                  <input id="color" matInput type="color" [formControl]="control" class="d-none">
                  <label for="color">
                    <ui-event-card [color]="control.value" [event]="event" [user]="user" [activities]="activities"></ui-event-card>
                  </label>
                </mat-form-field>
              </div>
            </mat-dialog-content>
            <mat-dialog-actions>
              <div class="d-flex gap-2">
                <ui-button color="neutral" (onClick)="colorModal.close()" cdkFocusInitial>Cancelar</ui-button>
                <ui-button (onClick)="saveColor(control.value)">[Em desenvolvimento...]</ui-button>
              </div>
            </mat-dialog-actions>
          </ng-template>
          <ng-template #planningTemplate>
            <h3 mat-dialog-title>Planejamento de aula</h3>
            <mat-dialog-content>
              <div class="row mt-3" [formGroup]="extraForm">
                <div class="col-md-12">
                  <!--<ui-textarea
                    id="planning"
                    name="planning"
                    height="14em"
                    [label]="'Planning' | translate"
                    [required]="true"
                    formControlName="planning"
                  ></ui-textarea>-->

                  <ui-text-editor
                    id="planning"
                    [required]="true"
                    formControlName="planning"
                  ></ui-text-editor>
                </div>
              </div>
            </mat-dialog-content>
            <mat-dialog-actions>
              <div class="d-flex gap-2">
                <ui-button color="neutral" (onClick)="planningModal.close()" cdkFocusInitial>Cancelar</ui-button>
                <ui-button (onClick)="savePlanning(planningModal.close)">Salvar</ui-button>
              </div>
            </mat-dialog-actions>
          </ng-template>

          <ng-template #proofTemplate>
            <h3 mat-dialog-title>Prova</h3>
            <mat-dialog-content>
              @let disableProof = disabled || (proof.status == 'APPROVED' && user.role == 'teacher');
              @if (proof && proof.status) {
                <div class="my-3">
                  <span class="badge" [ngClass]="'text-bg-'+activityStatusClass[proof.status]">
                    {{ proof.status | translate }}
                  </span>
                </div>
              }
              <app-test-form
                class="d-block mt-3"
                [data]="proof || {}"
                [disabled]="disableProof"
                (form$)="(proofForm = $event)"
              >
              </app-test-form>
            </mat-dialog-content>
            <mat-dialog-actions>
              <div class="d-flex gap-2">
                @if (proof?.id && !disableProof) {
                  <ui-button color="danger" (onClick)="deleteProofModal.open()" cdkFocusInitial>Excluír prova</ui-button>
                }
                <ui-button color="neutral" (onClick)="proofModal.close()" cdkFocusInitial>
                  @if (disableProof) {
                    Fechar
                  } @else {
                    Cancelar
                  }
                </ui-button>
                @let isManager = user.role && ['admin', 'principal', 'coordinator'].includes(user.role);
<!--                @if (isManager) {-->
<!--                  <ui-button (onClick)="approveProof(proofModal.close)">-->
<!--                    {{ 'Approve' | translate }}-->
<!--                  </ui-button>-->
<!--                }-->
                @if (!disableProof) {
                  <ui-button (onClick)="saveProof(proofModal.close)">
                    Salvar
                    @if (proof.status && proof.status != 'APPROVED' && isManager) {
                      e aprovar
                    }
                  </ui-button>
                }
              </div>
            </mat-dialog-actions>
          </ng-template>

          <ui-modal #deleteProofModal [template]="deleteProofTemplate"></ui-modal>
          <ng-template #deleteProofTemplate>
            <h3 mat-dialog-title>Excluír prova</h3>
            <mat-dialog-content>
              <p>Prova: <strong>{{ proof?.title }}</strong></p>
              Deseja realmente excluír a prova ?
            </mat-dialog-content>
            <mat-dialog-actions>
              <div class="d-flex gap-2">
                <ui-button color="neutral" (onClick)="deleteProofModal.close()" cdkFocusInitial>Cancelar</ui-button>
                <ui-button color="danger" (onClick)="deleteProof(proofModal.close);deleteProofModal.close()" cdkFocusInitial>Excluír prova</ui-button>
              </div>
            </mat-dialog-actions>
          </ng-template>

          <ui-modal #deleteWorkModal [template]="deleteWorkTemplate"></ui-modal>
          <ng-template #deleteWorkTemplate>
            <h3 mat-dialog-title>Excluír trabalho</h3>
            <mat-dialog-content>
              <p>Trabalho: <strong>{{ work?.id }}</strong></p>
              Deseja realmente excluír o trabalho ?
            </mat-dialog-content>
            <mat-dialog-actions>
              <div class="d-flex gap-2">
                <ui-button color="neutral" (onClick)="deleteWorkModal.close()" cdkFocusInitial>Cancelar</ui-button>
                <ui-button color="danger" (onClick)="deleteWork(workModal.close);deleteWorkModal.close()" cdkFocusInitial>Excluír trabalho</ui-button>
              </div>
            </mat-dialog-actions>
          </ng-template>
        </div>
      </div>
    </div>
    <div matDialogActions>
      <div class="dialog-buttons">
        @let count = event.countActivities;
        @let isMaxTotal = count.maxTotal > 0 && (count.total >= count.maxTotal);
        @let isMaxProofs = count.maxProofs > 0 && (count.proofs >= count.maxProofs);
        @let isMaxWorks = count.maxWorks > 0 && (count.works >= count.maxWorks);
<!--        <ui-button color="default" (onClick)="colorModal.open()">Cor</ui-button>-->
        <ui-button color="default" (onClick)="planningModal.open()">Planejamento</ui-button>

        <app-work-form-modal #workModal [work]="work" [schoolId]="schoolId" (ref)="workModalRef($event)">
          <ui-button color="default" (onClick)="workModal.open()" badge=""
                     [badgeColor]="activityStatusClass[work.status]" [disabled]="!work.id && (isMaxTotal || isMaxWorks)">
            <div class="d-flex gap-1 align-items-center">
              <span>
                {{ (work && work.id ? 'Work' : 'Add work') | translate }}
              </span>
            </div>
          </ui-button>
        </app-work-form-modal>


        <ui-button color="default" (onClick)="proofModal.open()" badge=""
                   [badgeColor]="activityStatusClass[proof.status]" [disabled]="!proof.id && (isMaxTotal || isMaxProofs)">
          <div class="d-flex gap-1 align-items-center">
            <span>
              {{ (proof && proof.id ? 'Proof' : 'Add proof') | translate }}
            </span>
          </div>
        </ui-button>
        <ui-button color="neutral" (onClick)="close()" type="button">{{ 'close' | translate }}</ui-button>
      </div>
    </div>
  </form>
</div>
