.criterion-form {
  //background-color: #eaeaea;
  //outline: 8px solid #eaeaea;
  //margin-bottom: 16px;
  //app-criterion-select {
  //  .mat-mdc-text-field-wrapper.mdc-text-field {
  //    outline: 12px solid #eee;
  //    border-radius: unset;
  //    margin-bottom: 12px;
  //  }
  //  .mdc-notched-outline {
  //    background-color: white;
  //    z-index: 0;
  //    border-radius: 5px;
  //  }
  //  .mat-mdc-select-value {
  //    //color: white;
  //  }
  //}
}


