$primary: #003366;
$tertiary: #ffa92d;
$denim: #2f557f;
$earth: #5e3929;
$emperor: #4b207f;
$ming: #3e8391;
$campfire: #e36520;
$grapevine: #7f264a;
$tree-frog: #448d21;
$cool: #4d7549;
$warm: #ffa92d;
$navy-blue: #081322;
$white: #ffffff;
$neutral: #b2b6ba;
$dark-text: #212529;

$danger: #A6192E;
$success: $tree-frog;
$warning: $campfire;
$info: $ming;

$border-radius: 8px;
$field-border-radius: 4px;
