:host {
  display: block;
  margin-bottom: 1.2em;
  label.cursor-pointer {
    min-height: 2em;
  }
}
.autocomplete-input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  height: 100%;
}
mat-icon.cursor-pointer {
  line-height: 24px;
  text-align: center;
  font-size: inherit;
  border-radius: 1em;
  margin-left: 0.2em;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
fieldset {
  border-radius: 4px;
  border: 1px solid #777680;
  outline: none;
  padding-top: 4px;
  &.disabled {
    border-color: rgba(26, 27, 31, 0.12);
    color: rgba(26, 27, 31, 0.35);
    label {
      cursor: default !important;
    }
  }
}
