<!--<ui-loading-bar [isLoading]="isLoading()"></ui-loading-bar>-->
<div class="main-dashboard">
<!--  <div class="d-flex justify-content-between align-items-center inline-fields">-->
  <h2>Próximas atividades</h2>
  <div class="filters row align-items-center gap-3" [formGroup]="filters">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <mat-form-field size="small" class="example-full-width" appearance="outline" subscriptSizing="dynamic">
        <mat-label>{{ 'Date' | translate }}</mat-label>
        <input matInput
               [matDatepicker]="picker"
               formControlName="date"
               [datePickerFormat]="isManager ? 'dd/MM/yyyy' : 'MM/yyyy'"
               [min]="minDate"
               [max]="maxDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker
                        [startView]="isManager ? 'month' : 'year'"
                        (monthSelected)="monthSelected($event, picker)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <app-activities-filter-form (change)="activitiesFilterChange($event)"></app-activities-filter-form>
    </div>
    <div class="col-sm-12 col-md-6 col-lg">
      <mat-label class="msr-3">{{ 'Coloring by' | translate }}:</mat-label>
      <mat-radio-group formControlName="colorBy" aria-label="Select" required>
        @if (auth().multiSchools) {
          <mat-radio-button value="school" color="primary">
            {{ 'School' | translate }}
          </mat-radio-button>
        }
        <mat-radio-button value="class" color="primary">
          {{ 'Class' | translate }}
        </mat-radio-button>
        <mat-radio-button value="curricularComponent" color="primary">
          {{ 'Curricular component' | translate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="">
    <div class="text-center">
      @let date = filters.controls.date.value;
      @if (lessonEventService.lessonEventsStatus() === 'resolved' && !events.length) {
        <h2 class="my-5 text-muted fw-light">
          Não há eventos para o filtro selecionado
        </h2>
      }

      @if (loadedEvents && !events.length) {
        @if (date) {
          <h2 class="my-5 text-muted fw-light">
            @if (isManager) {
              Não há eventos para <strong>{{ 'format' | fns:date:'EEE':{ locale: 'ptBR' } }}</strong>
              dia {{ date | date: 'dd/MM/yyyy' }}
            } @else {
              Não há eventos para o mês de <strong>{{ 'format' | fns:date:'MMMM':{ locale: 'ptBR' } }}</strong>
            }
          </h2>
        }
      }
    </div>
    <div class="row row-gap-24 my-4">
      @for (event of events; let i = $index; track i) {
        <div class="col activity-col">
          <ui-skeleton type="card" [loading]="isLoading()">
            <ui-event-card [color]="event.color || ''" [auth]="auth()" [event]="event" [activities]="activities" (click)="openLessonEventDialog(event)"></ui-event-card>
          </ui-skeleton>
        </div>
      }

      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
    </div>

    <div class="row my-4">
<!--      <app-activities-count></app-activities-count>-->
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>

  </div>

</div>
