<div>
  <h2>Próximas atividades</h2>
  <div class="">
    <div class="row row-gap-24 my-4">
      @for (event of events; track event.date) {
        <div class="col activity-col">
<!--          @defer (when !isLoading()) {-->
<!--            <ui-event-card [user]="user()" [event]="event" [activities]="activities" (click)="openLessonEventDialog(event)"></ui-event-card>-->
<!--          } @placeholder {-->
<!--            <ui-skeleton type="card"></ui-skeleton>-->
<!--          }-->
          <ui-skeleton type="card" [loading]="isLoading()">
            <ui-event-card [user]="user()" [event]="event" [activities]="activities" (click)="openLessonEventDialog(event)"></ui-event-card>
          </ui-skeleton>
        </div>
      }

      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
      <div class="col activity-col"></div>
    </div>

    <div class="row my-4">
<!--      <app-activities-count></app-activities-count>-->
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </div>

  </div>

</div>
