@let proofType = $safeNavigationMigration(event().evalTools.test?.type);
<mat-card class="cursor-pointer"
          [ngStyle]="{'background-color': color, 'color': color | textColor }"
          [ngClass]="{
            'test': proofType === 'TEST',
            'test_of_overcoming': proofType === 'TEST_OF_OVERCOMING',
            'multiclass_test': proofType === 'MULTICLASS_TEST'
          }">
  <mat-card-content>
    @if (event(); as evt) {
      <div class="">

        <div class="d-flex gap-1 justify-content-between mb-3">
          <div class="activities">
            @let pStatus = evt.evalTools.test?.status || '';
            @let wStatus = evt.evalTools.work?.status || '';
            @if (pStatus === 'APPROVED') {
              <span [className]="'badge m-x-2 activity-test'" [ngStyle]="$safeNavigationMigration(activities().get('TEST')?.color) | colorStyle">{{ proofType | translate }}</span>
            } @else if (wStatus === 'APPROVED') {
              <span [className]="'badge m-x-2 activity-work'" [ngStyle]="$safeNavigationMigration(activities().get('WORK')?.color) | colorStyle">{{ 'Work' | translate }}</span>
            } @else {
              <span class="badge badge-solid-gray dot-badge" [ngClass]="'dot-badge-'+(evt.evalTools | activityStatusClass)">
                {{ 'Lesson' | translate }}
              </span>
            }
          </div>
          @if (evt.countActivities?.total; as total) {
            @let act = evt.countActivities;
            @let msgProofs = act && act.proofs ? act.proofs + ' ' + ((act.proofs > 1 ? 'proofs' : 'proof') | translate) : '';
            @let msgWorks = act && act.works ? act.works + ' ' + ((act.works > 1 ? 'works' : 'work') | translate) : '';
            @let sep = act && act.proofs && act.works ? (' and ' | translate) : '';
            <div class="badge badge-solid-gray circle"
                 [matTooltip]="msgProofs + sep + msgWorks">
              {{ total }}
            </div>
          }
        </div>

        @if (!evt.groupId) {
          <div class="d-flex gap-3 align-items-center">
            <div class="day">
              <span class="weekday">{{ evt.weekday | translate }}</span>
              {{ evt.date | date: 'dd' }}
            </div>
            <div>
              <div class="month">
                {{ evt.date | date: 'MMM' }}
              </div>
              <div class="hour">
                {{ evt.date | date: 'HH:mm' }}
              </div>
            </div>
          </div>

          <div>

            <div class="curricular-component ellipsis">
              {{ evt.curricularComponent?.name }}
            </div>
            @if (evt.lesson; as lesson) {
              @if (auth().role !== 'teacher') {
                <div class="teacher-name ellipsis">
                  {{ lesson.teacher?.fullName }}
                </div>
              }
            }
            <div class="school truncate-text">
              <span [matTooltip]="evt.school?.name || ''">{{ evt.school?.acronym }}</span>
              @if (evt.schoolClass; as schoolClass) {
                - {{ schoolClass.code }}
              }
            </div>
          </div>
        }
        @else  {
          @let date = evt.date | date: dateFormat;
          @let ts = evt.frequency.timeSchedule;
          {{ date }} de {{ ts && ts.startTime  }} às {{ ts && ts.endTime }}
        }
      </div>
    }
  </mat-card-content>
</mat-card>
