@let multiclassTest = form.controls.type.getRawValue() === 'MULTICLASS_TEST';
@let isDisabled = disabled() || readOnly();
<div class="row" [formGroup]="form">
  <div class="col-md-6">
    <mat-form-field class="mat-mdc-form-field"  appearance="outline" subscriptSizing="dynamic">
      <mat-label>{{ 'Type' | translate }}</mat-label>
      <mat-select formControlName="type" [compareWith]="compare" [disabled]="isMulticlass || !!form.value.id">
        @for (item of proofTypes; track item) {
          <mat-option [value]="item" [disabled]="auth.role === 'teacher' && item === 'MULTICLASS_TEST'">
            {{ item | translate }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-sm-6">
    <app-curricular-component-select
      [formControl]="ccControl"
      [classYearId]="classYearId"
      [disabled]="isDisabled || !multiclassTest || !isManager || !!form.value.id"
    ></app-curricular-component-select>
  </div>

  @if (!classHash && isManager && multiclassTest) {
    <div class="col-md-12">
      <app-event-checkbox-group [form]="form.controls.events" [events]="events" [disabled]="isDisabled || !isManager">
      </app-event-checkbox-group>
    </div>
  }

  @if ((isManager && !multiclassTest) || (!isManager || proof?.id)) {
    <div class="col-md-12">
      <ui-field
        id="title"
        name="title"
        [label]="'Title' | translate"
        formControlName="title"
      >
      </ui-field>
    </div>
    <div class="col-md-6">
      <ui-field
        id="score"
        name="score"
        cType="score"
        [label]="'Score' | translate"
        [required]="!isManager || !multiclassTest"
        formControlName="score"
      >
      </ui-field>
    </div>
    <div class="col-md-12">
      <ui-textarea
        id="content"
        name="content"
        [label]="'Content' | translate"
        [required]="!isManager || !multiclassTest"
        formControlName="content"
        ></ui-textarea>
    </div>
    <div class="col-md-12">
      <ui-textarea
        id="whereToFindIt"
        name="whereToFindIt"
        [label]="'Where to find it' | translate"
        formControlName="whereToFindIt"
      >
      </ui-textarea>
    </div>
  }
</div>

<!--<pre>-->
<!--  {{ form.value | json }}-->
<!--</pre>-->
