@use "variables" as *;

.grid-lesson {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .wrap-grid {
    position: relative;
    width: 100%;
    height: 70vh;
    min-height: 700px;
    max-height: 800px;
  }
  gridster {
    display: block;
  }
  gridster-item {
    cursor: move;
    .item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    &:hover .invisible {
      visibility: visible !important;
    }
    .add-btn {
      .mat-mdc-button-persistent-ripple {
        border-radius: 0;
      }
      mat-icon {
        visibility: hidden;
      }
      &:hover mat-icon {
        visibility: visible;
      }
    }
  }
  .w-first-col {
    width: 150px;
  }
  .grid-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    padding: 0.1em 0;
    font-size: 18px;
    mat-icon {
      font-size: inherit;
    }
  }
}
