<table class="w-100 mb-5 grid-lesson">
  <tr>
    <th class="w-first-col">
      <app-class-select [formControl]="classControl" [schoolId]="school().id" [disabled]="!!localDashboard().length">
      </app-class-select>
    </th>
    @for (day of weekdays; track day) {
      <th>
        <span [hidden]="!schedules().length">{{ day | translate }}</span>
      </th>
    }
  </tr>
  @for (schedule of schedules(); track schedule.id; let i = $index) {
    <tr>
      <th>
        {{ schedule.startTime }} - {{ schedule.endTime }}
      </th>
      @if (i === 0) {
        <td colspan="10" [attr.rowspan]="schedules().length">
          <div class="wrap-grid">
            <gridster [options]="options">
              @for (item of dashboard; track item; let i = $index) {
                @let lesson = item['data']?.lesson;
                @let empty = !lesson?.curricularComponent?.name;
                <gridster-item #gridsterItem [item]="item">
                  <div class="item">
                    <div class="w-100 p-1">
                      @if (!empty) {
                        <h3 class="ellipsis my-0">
                          {{ lesson.curricularComponent?.name }}
                        </h3>
                        @if (user.role !== 'teacher' && lesson.teacher) {
                          <div class="ellipsis">
                            {{ lesson.teacher.fullName }}
                          </div>
                        }
                      }
                    </div>
                    @if (!empty) {
                      <button (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()" mat-icon-button color="accent"
                              type="button"
                              [matTooltip]="'Edit' | translate"
                              (click)="edit(item, gridsterItem)"
                              class="grid-btn">
                          <mat-icon>edit</mat-icon>
                      </button>
                    } @else {
                      <button (mousedown)="$event.stopPropagation()" (touchstart)="$event.stopPropagation()" mat-icon-button color="accent"
                              type="button"
                              [matTooltip]="'Add' | translate"
                              (click)="edit(item, gridsterItem)"
                              class="add-btn w-100 h-100 position-absolute top-0 start-0 rounded-0">
                        <mat-icon>add</mat-icon>
                      </button>
                    }
                  </div>
                </gridster-item>
              }
            </gridster>
          </div>
        </td>
      }
    </tr>
  }
</table>

<div class="d-flex gap-2 justify-content-end">
  <ui-button type="button" color="neutral" (onClick)="cancelModal.open()" [disabled]="!localDashboard().length">Cancelar</ui-button>
  <ui-button type="button" (onClick)="save()" [disabled]="!localDashboard().length">Salvar</ui-button>
</div>

<ui-modal #cancelModal [template]="cancelTemplate"></ui-modal>
<ng-template #cancelTemplate>
  <h3 mat-dialog-title>Sair da edição</h3>
  <mat-dialog-content>
    <strong>Você perderá os dados alterados, confirma?</strong>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex gap-2">
      <ui-button color="neutral" (onClick)="cancelModal.close()" cdkFocusInitial>Cancelar</ui-button>
      <ui-button color="danger" (onClick)="reset(false, cancelModal.close)">Confirmar</ui-button>
    </div>
  </mat-dialog-actions>
</ng-template>

<!--<pre>-->
<!--  {{ dashboard | json }}-->
<!--</pre>-->
