@if (fabIcon()) {
  <button matMiniFab
          [type]="type()"
          [disabled]="disabled()"
          [ngClass]="`color-${color()} ${size()} ${className()}`"
          (click)="btnClick()"
  >
    <mat-icon>{{ fabIcon() }}</mat-icon>
  </button>
}
@else {
  <button
    [type]="type()" matButton="filled"
    [disabled]="disabled()"
    [ngClass]="`color-${color()} ${size()} ${className()}`"
    [attr.data-badge]="badge()"
    [attr.data-badgeColor]="badgeColor()"
    (click)="btnClick()"
  >
    @if (icon()) {
      <mat-icon>{{ icon() }}</mat-icon>
    }
    <ng-content></ng-content>
  </button>
}
